.container{
  width: 720;
  margin:auto;
}

.container h1{
  text-align: center;
  
}

.trip-list li{
  list-style-type: none;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}
.filter-trips{
  display: flex;
  justify-content: center;
}

.filter-trips button{
  padding: 16px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;

}